body {
  font-family: "Lucida Bright", Georgia, serif;
  text-align: center;
}

.header {
  background-image: url("/Users/christina.houck/Desktop/Github_page/christinahouck.github.io/resources/images/sunset.jpeg");
  background-color: lavender;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  color: white;
  font-size: 55px;
}
